@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{font-family: 'Poppins', sans-serif;}

.header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;

    background: #F0F3F3;
    /* button */

    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 0px 0px 10px 10px;
}

.header-btn{
    width: 30px;
    height: 30px;

    background: #F1F1F1;
    /* button */

    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 10px;
}

.special-card{
    background: #F6F6F6;
    box-shadow: inset -2px 2px 4px rgba(205, 205, 205, 0.2), inset 2px -2px 4px rgba(205, 205, 205, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(205, 205, 205, 0.9);
    border-radius: 8px;
}

.main-card{
    background: #F6F6F6;
    box-shadow: inset -2px 2px 4px rgba(220, 220, 220, 0.2), inset 2px -2px 4px rgba(220, 220, 220, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(220, 220, 220, 0.9);
    border-radius: 10px;
}

.add-btn{
    background: #F0F0F3;
    box-shadow: -5px 5px 10px rgba(221, 221, 224, 0.2), 5px -5px 10px rgba(221, 221, 224, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(221, 221, 224, 0.9);
    border-radius: 10px;
}

.plus-btn{
    border-radius: 100%;
    background: #F1F1F1;
    box-shadow: inset -2px 2px 4px rgba(222, 222, 222, 0.2), inset 2px -2px 4px rgba(222, 222, 222, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(222, 222, 222, 0.9);
}

.footer{
    position: fixed;
    bottom: 0;
    height: 8vh;
    background: #F1F1F1;
    border-radius: 10px 10px 0px 0px;
}

.footer-btn{
    width: 32px;
    height: 32px;
    background: #F1F1F1;
    box-shadow: -5px 5px 10px rgba(222, 222, 222, 0.2), 5px -5px 10px rgba(222, 222, 222, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(222, 222, 222, 0.9);
    border-radius: 10px;
}

.btn-pressed{
    background: #F1F1F1;
box-shadow: inset -2px 2px 4px rgba(212, 212, 212, 0.2), inset 2px -2px 4px rgba(212, 212, 212, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(212, 212, 212, 0.9);
border-radius: 10px;
}

.cart-header{
    background: #F1F1F1;

    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 0px 0px 10px 10px;
}

.cart-btn{
    background: #F1F1F1;
    box-shadow: -5px 5px 10px rgba(222, 222, 222, 0.2), 5px -5px 10px rgba(222, 222, 222, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(222, 222, 222, 0.9);
    border-radius: 10px;
    }

    .cart-items{
        background: #F1F1F1;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(174, 174, 192, 0.4);
    border-radius: 10px;
    }

    .place-order{
        background: linear-gradient(135deg, #459EAF 0%, #007991 100%);
    box-shadow: -5px 5px 10px rgba(205, 205, 205, 0.2), 5px -5px 10px rgba(205, 205, 205, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(205, 205, 205, 0.9);
    border-radius: 10px;
    }

    .order-btn{
        background: linear-gradient(135deg, #459EAF 0%, #007991 100%);
        box-shadow: inset -2px 2px 4px rgba(28, 111, 128, 0.2), inset 2px -2px 4px rgba(28, 111, 128, 0.2), inset -2px -2px 4px rgba(42, 167, 192, 0.9), inset 2px 2px 5px rgba(28, 111, 128, 0.9);
        border-radius: 100px;
    }